/* ///////////////////////////////////////////////mainPage(inicio)///////////////////////////////////////////// */

#mpage-bg {
    background-image: repeating-linear-gradient(90deg, rgb(200, 200, 200) 0px, rgb(200, 200, 200) 40px, white 50px);
    height: 800px;
}

.main-navbar {
    height: 75px;
}

.img-logo {
    padding: 150px 0 150px 0;
}

.clocks-style {
    font-weight: bolder;
    padding: 30px;
    margin-bottom: 100px;
}


/* /////////////////////////////////////////////nav bar (for all pages)////////////////////////////////////// */

.navbar-color {
    background: rgb(200, 200, 200);
    height: 75px;
}

.nav-link {
    color: rgb(121, 36, 47);
    font-weight: 900;
    font-size: 1.5rem;
}

.nav-link:hover {
    color: rgb(121, 36, 47);
    border-bottom: solid 3px rgb(121, 36, 47);
}

.list {
    position: relative;
    overflow: hidden;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.linkedin {
    position: absolute;
    left: 95%;
    margin: 30px 30px 5px 0;
    width: 100px;
    height: 100px;
}

#icon {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1;
}

.icon {
    color: rgb(121, 36, 47);
}

.icon:hover {
    font-size: 3.5rem;
}

span.navbar-toggler-icon {
    color: rgb(121, 36, 47);
}


/* ////////////////////////////////////////////////////////headings for all pages and background/////////////////////////////////////////////// */

.rest-ofpage-bg {
    background: rgb(200, 200, 200);
}

h1 {
    margin-bottom: 2rem;
    color: rgb(121, 36, 47);
}

h2 {
    margin-bottom: 1rem;
    color: rgb(121, 36, 47);
}


/* ////////////////////////////////////////////////////// nosotros //////////////////////////////////// */

.nosotros-content {
    align-content: center;
    line-height: 1.5;
    padding: 50px;
    color: rgb(84, 86, 90);
}

.nosotros-content h1 {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 30px;
    padding-right: 7%;
}

.nosotros-content h2 {
    text-align: center;
    margin-bottom: 70px;
}

.team-photo {
    background: url(../pictures/group-of-people-in-dress-suits-776615.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}


/* .team-img2 {
    padding-top: 100px;
    background: rgb(200, 200, 200);
    background: rgba(200, 200, 200, 0.9);
    width: 100%;
    height: 100%;
    font-weight: 700;
} */

.lside-pic {
    width: 225px;
    height: 200px;
    margin-right: 0;
}

.rside-pic {
    width: 225px;
    height: 200px;
    margin-left: 0;
}

.mis-vis-val2 {
    margin-bottom: 0;
    padding-bottom: 3rem;
}

.mis-vis-val2 h2 {
    text-align: center;
}

.mis-vis-val2 p {
    text-align: center;
    font-size: 1.2rem;
}


/* //////////////////////////////////////////////////////// servicios //////////////////////////////////// */

#servicio-map {
    background: url(../pictures/istockphoto-984431724-612x612.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.servicio h1 {
    padding-top: 100px;
    text-align: center;
    margin-bottom: 70px;
    padding-right: 7%;
}

.servicio h2 {
    color: rgb(84, 86, 90);
}

.transporte {
    margin-bottom: 50px;
}

.tran-ser {
    margin-bottom: 100px;
}


/* ////////////////////////////////////////////////////// contacto //////////////////////////////////////// */

.w-icon {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
}

.contacto {
    height: 615px;
    padding: 100px;
}

.contacto h1 {
    text-align: center;
    margin-bottom: 70px;
    padding-right: 7%;
}


/* //////////////////////////////////////////////////  footer /////////////////////////////////////// */

footer {
    height: 100px;
    background: rgb(84, 86, 90);
    color: rgb(200, 200, 200);
    text-align: center;
    margin-top: 0;
    padding: 30px;
}