body {
    font-family: 'Tajawal', sans-serif;
}


/* ///////////////////////////////////////////////mainPage(inicio)///////////////////////////////////////////// */

#mpage-bg {
    background: repeating-linear-gradient(90deg, rgb(200, 200, 200) 0px, rgb(200, 200, 200) 40px, white 50px);
    height: 992px;
}

.main-navbar {
    height: 75px;
    background: transparent;
    transition: all 0.5;
}

.img-logo {
    padding: 150px 0 150px 0;
}

.clocks-style h4 {
    color: rgb(43, 40, 40);
    text-align: center;
    margin-bottom: 0;
}

.inner {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    height: 40px;
    background: linear-gradient(to bottom, rgba(200, 200, 200, 1) 0%, rgba(200, 200, 200, 1) 100%);
    border: 6px solid rgb(84, 86, 90);
    border-radius: 20%;
    box-sizing: border-box;
    filter: blur(1px);
}

.time {
    position: absolute;
    top: 54px;
    left: 95px;
    transform: translateX(-50%);
    width: 100%;
    height: 70px;
    color: rgb(121, 36, 47);
    font-size: 24px;
    text-align: center;
    text-shadow: 0 10px 30px #8DCAED;
}


/* /////////////////////////////////////////////nav bar (for all pages)////////////////////////////////////// */

.navbar-color {
    background: rgb(200, 200, 200);
    height: 75px;
    transition: all 0.5;
}

.nav-link {
    color: rgb(121, 36, 47);
    font-weight: 900;
    font-size: 1.7rem;
}

.nav-link:hover {
    color: rgb(121, 36, 47);
    border-bottom: solid 1px rgb(121, 36, 47);
}

.current-page {
    border-bottom: solid 3px rgb(121, 36, 47);
}

.list {
    position: relative;
    overflow: hidden;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.linkedin {
    position: absolute;
    left: 95%;
    margin: 30px 30px 5px 0;
    width: 100px;
    height: 100px;
}

#icon {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1;
}

.icon {
    color: rgb(121, 36, 47);
}

.icon:hover {
    font-size: 3.5rem;
}

span.navbar-toggler-icon {
    color: rgb(121, 36, 47);
}


/* ////////////////////////////////////////////////////////headings for all pages and background/////////////////////////////////////////////// */

.rest-ofpage-bg {
    background: rgb(200, 200, 200);
}

h2 {
    margin-bottom: 1rem;
    color: rgb(121, 36, 47);
}


/* ////////////////////////////////////////////////////// nosotros //////////////////////////////////// */

.nosotros-content {
    align-content: center;
    line-height: 1.5;
    padding: 50px;
    color: rgb(84, 86, 90);
    font-size: 1.1rem;
}

.nosotros-content h2 {
    text-align: center;
    margin: 50px 0 70px;
    color: rgb(121, 36, 47);
    font-size: 2rem;
    font-weight: 700;
}

#team-photo {
    background: url(../pictures/pexels-photo-776615.jpg);
    background-position: center;
    background-size: 500px 100%;
    margin: 10 0 10 0;
    padding-left: 0;
    padding-right: 0;
}

.team-img2 {
    padding: 30px;
    /* background: rgb(43, 40, 40); */
    background: rgb(84, 86, 90, 0.75);
    width: 100%;
    height: 100%;
    font-weight: 700;
    color: rgb(200, 200, 200);
}

.side-pic {
    width: 100%;
    height: 200px;
}

#lphoto {
    margin-right: 0;
    padding-right: 0;
}

#rphoto {
    margin-left: 0;
    padding-left: 0;
}

.mis-vis-val {
    margin-bottom: 0;
    padding-bottom: 3rem;
}

.mis-vis-val h2 {
    text-align: center;
}

.mis-vis-val p {
    text-align: center;
    font-size: 1.2rem;
}


/* //////////////////////////////////////////////////////// servicios //////////////////////////////////// */

.servicio-map {
    height: 500px;
    border-radius: 50px;
    margin: 10px auto;
    display: block;
}

.servicio h2 {
    color: rgb(121, 36, 47);
}

.transporte {
    margin-bottom: 30px;
    padding-top: 50px;
    padding-left: 100px;
}

.tran-ser {
    padding-bottom: 50px;
}

#ter-con h2 {
    text-align: center;
    color: rgb(121, 36, 47);
    margin-bottom: 30px;
}

.nservicios ul li {
    position: relative;
    padding-bottom: 10px;
}

.nservicios ul {
    padding-left: 1.3rem;
    list-style: none;
}

.nservicios ul li:before {
    content: '';
    position: absolute;
    border-right: 2px solid rgb(84, 86, 90);
    border-bottom: 2px solid rgb(84, 86, 90);
    width: 10px;
    height: 10px;
    top: calc(50% - 4px);
    left: -20px;
    transform: translateY(-50%) rotate(-45deg);
    background-color: rgb(121, 36, 47);
}

#seguro ul li:before {
    transform: translateY(-170%) rotate(-45deg);
    ;
}

#ter-con:hover {
    color: rgb(121, 36, 47);
}


/* ////////////////////////////////////////////////////// contacto //////////////////////////////////////// */

.w-icon {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    color: rgb(121, 36, 47);
}

.contacto {
    height: 992px;
    padding: 75px;
}

.contacto-info {
    padding: 20px 0 20px 0;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 25px;
}

#location h2 {
    font-size: 1.9rem;
}

#location p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

#i-phone {
    transform: scaleX(-1);
}

.goggle-map {
    width: 400px;
    border: 2px solid rgb(84, 86, 90);
}


/* //////////////////////////////////////////////////  footer /////////////////////////////////////// */

footer {
    height: 100px;
    background: rgb(84, 86, 90);
    color: rgb(200, 200, 200);
    text-align: center;
    margin-top: 0;
    padding: 30px;
}


/* ////////////////////////////////////////////////////responsive//////////////////////////////////////////////////// */

@media (max-width: 483px) {
    .img-logo {
        margin-bottom: 75px;
    }
    .clocks-style {
        margin-bottom: 50px;
    }
    .clocks-style h4 {
        margin-bottom: 50px;
    }
    .inner {
        top: 30px;
    }
    .time {
        top: 34px;
        left: 50%;
    }
    .nosotros-content {
        line-height: 1.0;
        font-size: 0.7rem;
        padding: 0;
        margin: 0;
    }
    .nosotros-content h2 {
        margin: 15px 0 20px;
        font-size: 1rem;
    }
    #team-photo {
        background-size: 200px 100%;
    }
    .team-img2 {
        padding: 10px 20px;
    }
    .p-container {
        min-width: 470px;
        padding: 10px 0 0;
    }
    .side-pic {
        width: 100%;
        height: 200px;
    }
    .rest-ofpage-bg {
        padding: 0 10px 0 0;
    }
    .mis-vis-val {
        margin-right: 70px;
    }
    .servicio-map {
        height: 200px;
        width: 300px;
    }
    .transporte {
        padding-left: 50px;
    }
    #seguro ul li:before {
        transform: translateY(-450%) rotate(-45deg);
        ;
    }
    .contacto {
        height: 1020px;
        padding: 20px;
    }
    .contacto-info {
        padding: 20px 0 10px 0;
        margin-bottom: 15px;
    }
    #location h2 {
        font-size: 1.9rem;
    }
    #location p {
        font-size: 1rem;
        margin-bottom: 15px;
    }
    .goggle-map {
        margin-top: 30px;
    }
}


/* /////////////// 483px - 576px///////////////////////// */

@media (min-width: 483px) and (max-width: 576px) {
    .list {
        position: none;
        overflow: none;
        float: none;
        position: none;
        top: 90%;
        left: 0;
        transform: none;
        width: 400px;
        background-color: rgb(200, 200, 200);
    }
    .linkedin {
        position: none;
        left: 65%;
        margin: 0;
    }
    .img-logo {
        margin-bottom: 75px;
    }
    .clocks-style {
        margin-bottom: 50px;
    }
    .clocks-style h4 {
        margin-bottom: 50px;
    }
    .inner {
        top: 30px;
    }
    .time {
        top: 34px;
        left: 50%;
    }
    .nosotros-content {
        line-height: 1.1;
        font-size: 1rem;
        justify-content: center;
        padding: 20px 0;
    }
    .nosotros-content h2 {
        margin: 15px 0 15px;
        font-size: 1.2rem;
    }
    #team-photo {
        background-size: 200px 100%;
        width: 300px;
        height: 450px;
    }
    .team-img2 {
        padding: 10px 20px;
        height: 450px;
        font-size: 0.7rem;
    }
    .p-container {
        min-width: 500px;
        padding: 0;
    }
    .side-pic {
        width: 100%;
        height: 150px;
    }
    #lphoto {
        padding: 0;
    }
    .navbar {
        padding: 0;
    }
    .rest-ofpage-bg {
        padding: 0;
    }
    .servicio-map {
        height: 300px;
        width: 400px;
    }
    .transporte {
        padding-left: 0 auto;
    }
    #seguro ul li:before {
        transform: translateY(-175%) rotate(-45deg);
    }
    .contacto-info {
        margin-bottom: 5px;
    }
    .contacto {
        padding: 50px;
    }
}


/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    .list {
        position: none;
        overflow: none;
        float: none;
        position: none;
        top: 90%;
        left: 0;
        transform: none;
        width: 400px;
        background-color: rgb(200, 200, 200);
    }
    .linkedin {
        position: none;
        left: 45%;
        margin: 15px 0;
    }
    .clocks-style {
        margin-bottom: 50px;
    }
    .clocks-style h4 {
        margin-bottom: 50px;
    }
    .inner {
        top: 30px;
    }
    .time {
        top: 34px;
        left: 50%;
    }
    .nosotros-content {
        line-height: 1.1;
        padding: 20px;
        font-size: 1rem;
    }
    .nosotros-content h2 {
        margin: 20px 0 20px;
        font-size: 1.2rem;
    }
    #team-photo {
        background-size: 350px 100%;
    }
    .team-img2 {
        padding: 10px 20px;
    }
    #lphoto {
        padding: 0;
    }
    .p-container {
        min-width: 710px;
        padding: 0;
    }
    .rest-ofpage-bg {
        padding: 0;
    }
    .mis-vis-val {
        margin-right: 50px;
    }
    .servicio-map {
        height: 350px;
    }
    .transporte {
        padding-left: 0;
    }
    #seguro ul li:before {
        transform: translateY(-200%) rotate(-45deg);
    }
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .list {
        position: none;
        overflow: none;
        float: none;
        position: none;
        top: 90%;
        left: 0;
        transform: none;
        width: 400px;
        background-color: rgb(200, 200, 200);
    }
    .linkedin {
        position: none;
        left: 35%;
        margin: 10px 0;
    }
    .cityName {
        padding: 0;
    }
    .inner {
        top: 60px;
        width: 110px;
    }
    .time {
        top: 62px;
        left: 60px;
    }
    .nosotros-content {
        line-height: 1.1;
    }
    .nosotros-content h2 {
        margin: 35px 0 35px;
        font-size: 1.7rem;
        font-weight: 700;
    }
    #team-photo {
        background-size: 400px 100%;
        margin: 0;
    }
    .team-img2 {
        padding: 10px 20px;
    }
    .servicio-map {
        height: 450px;
    }
    .transporte {
        padding-left: 50px;
    }
    #seguro ul li:before {
        transform: translateY(-450%) rotate(-45deg);
    }
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .time {
        left: 79px;
    }
    .nosotros-content h2 {
        margin: 50px 0 50px;
    }
    .team-img2 {
        padding: 10px 20px;
    }
}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}